@model SupportU.Application.DTOs.UsuarioDTO
@{
    ViewData["Title"] = "Recuperar Contraseña";
}

<form asp-action="ForgotPassword" method="post">
    @Html.AntiForgeryToken()

    <div class="mb-3">
        <label asp-for="Email" class="form-label fw-bold">Correo</label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label fw-bold">Nueva Contraseña</label>
        <!-- aunque el binding es a PasswordHash, aquí el usuario escribe la contraseña en texto plano -->
        <input asp-for="PasswordHash" type="password" class="form-control" />
        <span asp-validation-for="PasswordHash" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Actualizar</button>
    <a asp-action="Index" class="btn btn-outline-secondary">Cancelar</a>
</form>
}
@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    @if (TempData["ToastMessage"] != null)
    {
        <script>
            @Html.Raw(TempData["ToastMessage"].ToString());
        </script>
    }

    @if (TempData.Peek("ForgotLogs") != null)
    {
        <script>
            @Html.Raw(TempData.Peek("ForgotLogs").ToString());
        </script>
    }
}
